Repository mrzor/process-tracer: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tests, bpflint

lint:
  run: golangci-lint run --new-from-rev=HEAD ./...

tests:
  run: go test -short ./...

bpflint:
  run: bpflinter {staged_files} || true

build(mise): add missing uv
  mise.toml
Due: none

feat: add --skip-empty-values flag and ambient skip_empty_values option
  README.md
  ambient.example.yaml
  cmd/process-tracer/main.go
  internal/ambient/manager.go
  internal/attributes/evaluator.go
  internal/attributes/evaluator_test.go
  internal/config/ambient.go
  internal/config/ambient_test.go
  internal/config/config.go
  internal/output/otel_formatter.go
Due: lint, tests

feat: add GitLab CI ambient mode example config
  ambient-gitlab-ci.example.yaml
Due: none

feat: merge process-tracer and process-tracer-daemon into single binary
  .gitignore
  README.md
  ambient-e2e/README.md
  ambient-e2e/guest-run.sh
  ambient-e2e/run-test.sh
  ambient.example.yaml
  cmd/process-tracer/daemon.go
  cmd/process-tracer/main.go
  cmd/process-tracer/trace.go
  internal/config/config.go
  internal/config/config_test.go
Due: lint, tests

feat: add trace mode e2e test and standardize mode terminology
  ambient-e2e/README.md
  ambient-e2e/guest-run-trace.sh
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
  ambient-gitlab-ci.example.yaml
  ambient.example.yaml
  cmd/process-tracer/daemon.go
  internal/ambient/filter.go
  internal/ambient/manager.go
  internal/ambient/processor.go
  internal/ambient/session.go
  internal/bpfloader/loader.go
  internal/config/ambient.go
  internal/config/config.go
Due: lint, tests

chore: gitignore python cache + mempalace artifacts; remove stale daemon binary
  .gitignore
Due: none

chore: extend local Claude permission allowlist
  .claude/settings.local.json
Due: none

feat: add --add-debug-attributes for trace/parent ID provenance debugging
  ambient-e2e/ambient-test.yaml
  ambient-e2e/guest-run-trace.sh
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
  ambient.example.yaml
  cmd/process-tracer/trace.go
  internal/ambient/manager.go
  internal/attributes/traceid.go
  internal/attributes/traceid_test.go
  internal/config/ambient.go
  internal/config/config.go
  internal/config/config_test.go
  internal/output/otel_formatter.go
Due: lint, tests

feat: synthetic process.tree root span fixes custom trace_id silent-drop and orphan attachment
  ambient-e2e/ambient-test.yaml
  ambient-e2e/guest-run-trace.sh
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
  cmd/process-tracer/trace.go
  internal/ambient/manager.go
  internal/ambient/session.go
  internal/output/otel_formatter.go
Due: lint, tests

chore: allow git checkout in claude permissions
  .claude/settings.local.json
Due: none

test(e2e): pipeline-shape workload validates happens-before and parallelism
  ambient-e2e/Makefile.pipeline
  ambient-e2e/Makefile.test
  ambient-e2e/guest-run-trace.sh
  ambient-e2e/guest-run.sh
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
Due: none

docs(gitlab-ci): document add_debug_attributes for trace_id debugging
  ambient-gitlab-ci.example.yaml
Due: none

chore(gitlab-ci): enable add_debug_attributes in example config
  ambient-gitlab-ci.example.yaml
Due: none

chore(ci): pin golangci-lint to v2.11.4 in CI and mise
  .github/workflows/ci.yml
  mise.toml
Due: none

fix(lint): drop obsolete nolint:gosec directives and dedupe resolution attrs
  cmd/process-tracer/daemon.go
  internal/output/otel_formatter.go
Due: lint, tests

test(e2e): assert argv content in both daemon and trace mode
  ambient-e2e/Makefile.pipeline
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
Due: none

feat(otel): add parent_id hash fallback and process.command on process.tree
  ambient-e2e/ambient-test.yaml
  ambient-e2e/guest-run.sh
  ambient-e2e/verify-traces-trace.py
  ambient-e2e/verify-traces.py
  ambient-gitlab-ci.example.yaml
  internal/attributes/traceid.go
  internal/attributes/traceid_test.go
  internal/output/otel_formatter.go
Due: lint, tests

feat(bpf): track fork/clone to fix broken parent chains in pipe subshells
  ambient-e2e/Makefile.pipeline
  ambient-e2e/guest-run.sh
  ambient-e2e/verify-traces.py
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.go
  internal/bpf/processtracer_x86_bpfel.o
  internal/bpfloader/loader.go
  internal/eventprocessor/processor.go
Due: lint, tests, bpflint

feat(bpf): ancestor walk + catch-up scan to fix fork-without-exec tracking
  ambient-e2e/Makefile.pipeline
  ambient-e2e/cloud-init-prepare-data
  ambient-e2e/guest-run.sh
  ambient-e2e/verify-traces.py
  internal/ambient/manager.go
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.o
  internal/output/otel_formatter.go
Due: lint, tests, bpflint

feat(ambient): context_starved rules for runc-exec / docker-exec injectors
  ambient-e2e/README.md
  ambient-e2e/ambient-runc-starved.yaml
  ambient-e2e/ambient-runc.yaml
  ambient-e2e/ambient-test.yaml
  ambient-e2e/cloud-init-prepare-data
  ambient-e2e/guest-run-runc-starved.sh
  ambient-e2e/guest-run-runc.sh
  ambient-e2e/guest-run-trace.sh
  ambient-e2e/otelcol.yaml
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces-runc-starved.py
  ambient-e2e/verify-traces-runc.py
  ambient-gitlab-ci.example.yaml
  cmd/process-tracer/daemon.go
  internal/ambient/manager.go
  internal/ambient/manager_starved.go
  internal/ambient/manager_starved_test.go
  internal/ambient/processor.go
  internal/config/ambient.go
Due: lint, tests

feat(debuglog): --debug-log sink for daemon routing diagnostics
  cmd/process-tracer/daemon.go
  go.mod
  go.sum
  internal/ambient/debuglog_events.go
  internal/ambient/manager.go
  internal/ambient/manager_starved.go
  internal/ambient/processor.go
  internal/ambient/session.go
  internal/debuglog/debuglog.go
  internal/debuglog/debuglog_test.go
  internal/output/otel_formatter.go
Due: lint, tests

feat(debuglog): probe starved-materialization env + close descendant_join gaps
  internal/ambient/debuglog_events.go
  internal/ambient/manager_starved.go
  internal/ambient/processor.go
Due: lint, tests

fix(ambient): tighten starved-materialization gate + avoid sha256("") trace-id collision
  AGENTS.md
  docs/README.md
  docs/context-starved-materialization.md
  docs/env-streaming.md
  internal/ambient/manager_starved.go
  internal/ambient/manager_starved_test.go
  internal/attributes/evaluator.go
  internal/attributes/traceid.go
  internal/attributes/traceid_test.go
Due: lint, tests

feat(debuglog): surface comm on joins + exec_unclaimed/session_exec_error/session_dump
  docs/context-starved-materialization.md
  internal/ambient/debuglog_events.go
  internal/ambient/manager.go
  internal/ambient/manager_starved.go
  internal/ambient/manager_starved_test.go
  internal/ambient/processor.go
  internal/ambient/session.go
Due: lint, tests

test(ambient-e2e): wire debug-log capture + add variants C/D (repro scaffolding)
  ambient-e2e/ambient-runc-starved.yaml
  ambient-e2e/cloud-init-user-data
  ambient-e2e/guest-run-runc-starved.sh
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces-runc-starved.py
  docs/context-starved-materialization.md
Due: none

feat(bpf): pack pid_ns_inum onto every process event
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.o
Due: lint, tests, bpflint

feat(bpf): ancestor_trace event — full 16-hop real_parent dump on unclaimed exec/fork
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.o
  internal/eventprocessor/processor.go
  internal/eventstream/stream.go
Due: lint, tests, bpflint

feat(debuglog): enrich exec_unclaimed with exe, argv, and env keys
  internal/ambient/debuglog_events.go
  internal/ambient/processor.go
Due: lint, tests

feat(bpf): clone/clone3 syscall tracepoints + decoded flag logging
  internal/ambient/debuglog_events.go
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.go
  internal/bpf/processtracer_x86_bpfel.o
  internal/bpfloader/loader.go
  internal/eventprocessor/processor.go
  internal/eventstream/stream.go
Due: lint, tests, bpflint

feat(debuglog): pid_exit for tracked pids + --debug-log-coverage sampler
  ambient-e2e/guest-run-runc-starved.sh
  cmd/process-tracer/daemon.go
  internal/ambient/processor.go
Due: lint, tests

refactor: clear pre-existing golangci-lint issues
  internal/attributes/traceid.go
  internal/eventstream/stream.go
  internal/output/otel_formatter.go
Due: lint, tests

chore(lefthook): drop --new-from-rev so pre-commit matches bare lint
  lefthook.yml
Due: none

test(ambient-e2e): variant E reproduces the fork-only subshell leak
  ambient-e2e/guest-run-runc-starved.sh
  ambient-e2e/verify-traces-runc-starved.py
Due: none

fix(ambient): claim fork-only pending descendants on materialisation
  internal/ambient/manager_starved.go
Due: lint, tests

fix(ambient): emit root process.tree span by letting sessions complete
  ambient-e2e/verify-traces-runc-starved.py
  internal/ambient/manager_starved.go
  internal/ambient/processor.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/processtracer_x86_bpfel.o
Due: lint, tests, bpflint

fix(bpf): declare bpf_task_from_pid/release kfuncs locally
  internal/bpf/process_tracer.bpf.c
  internal/bpf/processtracer_x86_bpfel.o
Due: bpflint

feat(attributes): add joinNonEmpty expr extension
  README.md
  ambient-gitlab-ci.example.yaml
  internal/attributes/evaluator.go
  internal/attributes/evaluator_test.go
  internal/attributes/extensions.go
  internal/attributes/extensions_test.go
  internal/attributes/traceid.go
Due: lint, tests

chore(deps): bump otel to v1.43.0 and urfave/cli to v3.8.0
  go.mod
  go.sum
Due: none

fix(output): rule attributes are tree-scope, evaluated once per session
  ambient-e2e/ambient-runc-starved.yaml
  ambient-e2e/verify-traces-runc-starved.py
  internal/output/otel_formatter.go
Due: lint, tests

docs: vision for facts-and-reification, A/B/C trajectory
  docs/vision.md
Due: none

Path conditions:
  lint: any of: *.go
  tests: any of: *.go
  bpflint: any of: *.{c,h} and ^internal/bpf/
