Repository mrzor/process-tracer: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tests, bpflint

lint:
  run: golangci-lint run --new-from-rev=HEAD ./...

tests:
  run: go test -short ./...

bpflint:
  run: bpflinter {staged_files} || true

fix: remove auto-generation of trace IDs to prevent expression parser error
  internal/config/config.go
  internal/config/config_test.go
Due: lint, tests

fix: broken truncated flag for environment reads
  internal/bpf/process_tracer.bpf.c
Due: bpflint

fix: vibe-fix CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: more vibe-fixing CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  lefthook.yml
  mise.toml
Due: none

fix: ci requires bpf generated stuff
  .github/workflows/ci.yml
Due: none

fix: ci requires bpf generated stuff (2)
  .github/workflows/ci.yml
Due: none

fix: longshot fix ci
  .github/workflows/ci.yml
Due: none

CI can be so tedious
  .github/workflows/ci.yml
Due: none

chore: first round of vibe-fixing lint errors (rest assured, I'm reading some of it..)
  .golangci.yml
  .zed/settings.json
  internal/bpf/bpf.go
  internal/config/config_test.go
  internal/eventstream/stream.go
  internal/otel/provider.go
  internal/procmeta/manager_test.go
  internal/pseudo_reverse_dns/pseudo_reverse_dns.go
  internal/pseudo_reverse_dns/pseudo_reverse_dns_test.go
Due: lint, tests

chore: vibe-fix errcheck lint issues, to some extent
  cmd/process-tracer/main.go
  internal/attributes/traceid_test.go
  internal/bpfloader/loader.go
  internal/envreassembler/chunk_reassembler_test.go
  internal/envreassembler/var_collector_test.go
  internal/output/otel_formatter.go
  internal/timesync/converter.go
Due: lint, tests

chore: vibe-fix misc lint issues, if this shows up in bisect, the struct casing is the culprit
  internal/bpf/bpf.go
  internal/config/config_test.go
  internal/eventprocessor/processor.go
Due: lint, tests

refactor: reduce cyclomatic complexity of run() function
  cmd/process-tracer/main.go
Due: lint, tests

chore: vibe fix the remaining lint issues
  .claude/settings.local.json
  .golangci.yml
  cmd/process-tracer/main.go
  internal/eventprocessor/processor.go
  internal/output/otel_formatter.go
  internal/reversedns/reversedns.go
  internal/reversedns/reversedns_test.go
Due: lint, tests

feat: add version information support
  .claude/settings.local.json
  cmd/process-tracer/main.go
  internal/config/config.go
  internal/otel/provider.go
Due: lint, tests

chore: should probably pre-commit lint and test to avoid shameful commits like this one
  .claude/settings.local.json
  cmd/process-tracer/main.go
  internal/config/config_test.go
Due: lint, tests

chore: fix release github workflow as well
  .github/workflows/release.yml
Due: none

chore: fix release github workflow (take 3..)
  .github/workflows/release.yml
Due: none

chore: fix release github workflow (sic I hate CI..)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

feat: vibe-code transparent shell mode, most likely buggy but let's go anyway
  .gitignore
  README.md
  internal/config/config.go
  internal/config/config_test.go
Due: lint, tests

chore: what lint claude broke, claude fixes
  internal/config/config.go
  internal/config/config_test.go
Due: lint, tests

misc: improve docs, make build slightly easier cross-platform
  .claude/settings.local.json
  README.md
  internal/bpf/bpf.go
  internal/timesync/converter.go
  mise.toml
  scripts/generate-bpf.sh
  test_workload.sh
Due: lint, tests

fix: build static binary in release workflow, remove unused goreleaser config
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

chore: fix lint issues (gosec, nolintlint, prealloc)
  internal/attributes/traceid.go
  internal/config/config.go
  internal/envreassembler/var_collector.go
  internal/otel/provider.go
Due: lint, tests

chore: upgrade to Go 1.26, update all deps, fix shellcheck warnings in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
  go.sum
  mise.toml
Due: none

feat: add proper HTTPS support to OTEL exporter, document all effective env vars
  README.md
  internal/config/otel.go
  internal/otel/provider.go
Due: lint, tests

fix: warn and skip malformed attributes instead of aborting
  AGENTS.md
  internal/config/config.go
  internal/config/config_test.go
Due: lint, tests

fix: cleaner behavior for --help and --version
  internal/config/config.go
Due: lint, tests

perf: cut post-command latency from ~1.8s to ~0.9s
  README.md
  cmd/process-tracer/main.go
  internal/bpfloader/loader.go
  internal/config/otel.go
Due: lint, tests

feat!: introduce expr: prefix for dynamic attribute values
  README.md
  internal/attributes/doc.go
  internal/attributes/evaluator.go
  internal/attributes/evaluator_test.go
  internal/attributes/traceid.go
  internal/attributes/traceid_test.go
  internal/config/config.go
Due: lint, tests

chore: extract parseAttribute helper, fix stale messages, suppress gocyclo
  .golangci.yml
  internal/config/config.go
Due: lint, tests

feat: add ambient mode daemon for system-wide process tracing
  ambient.example.yaml
  cmd/process-tracer-daemon/main.go
  internal/ambient/ambient_test.go
  internal/ambient/filter.go
  internal/ambient/manager.go
  internal/ambient/processor.go
  internal/ambient/session.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.go
  internal/bpf/processtracer_x86_bpfel.o
  internal/bpfloader/loader.go
  internal/config/ambient.go
  internal/config/ambient_test.go
Due: lint, tests, bpflint

test: add ambient mode E2E test using QEMU VM
  ambient-e2e/.gitignore
  ambient-e2e/Makefile.test
  ambient-e2e/README.md
  ambient-e2e/ambient-test.yaml
  ambient-e2e/cloud-init-meta-data
  ambient-e2e/cloud-init-user-data
  ambient-e2e/fetch-deps.sh
  ambient-e2e/guest-run.sh
  ambient-e2e/otelcol.yaml
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces.sh
Due: none

chore: changes unworthy of further discussion
  .claude/settings.local.json
  .gitignore
  mise.toml
Due: none

refactor: port verify-traces to pytest with uv inline deps
  ambient-e2e/README.md
  ambient-e2e/run-test.sh
  ambient-e2e/verify-traces.py
  ambient-e2e/verify-traces.sh
Due: none

feat(ambient-e2e): serial console streaming and colored output labels
  ambient-e2e/fetch-deps.sh
  ambient-e2e/run-test.sh
Due: none

feat(ambient-e2e): bake apt packages into cached base image
  ambient-e2e/cloud-init-prepare-data
  ambient-e2e/cloud-init-prepare-meta-data
  ambient-e2e/cloud-init-user-data
  ambient-e2e/run-test.sh
Due: none

fix(ambient-e2e): fix serial output and speed up VM shutdown
  ambient-e2e/cloud-init-user-data
  ambient-e2e/guest-run.sh
  ambient-e2e/run-test.sh
Due: none

fix(ambient-e2e): force immediate VM poweroff via sysrq
  ambient-e2e/cloud-init-user-data
  ambient-e2e/guest-run.sh
Due: none

test(ambient-e2e): verify expr:env attribute resolution
  ambient-e2e/ambient-test.yaml
  ambient-e2e/guest-run.sh
  ambient-e2e/verify-traces.py
Due: none

feat: add is_container_init matching to ambient mode
  README.md
  ambient.example.yaml
  internal/ambient/ambient_test.go
  internal/ambient/filter.go
  internal/ambient/processor.go
  internal/bpf/bpf.go
  internal/bpf/process_tracer.bpf.c
  internal/bpf/process_tracer.h
  internal/bpf/processtracer_x86_bpfel.o
  internal/config/ambient.go
  internal/config/ambient_test.go
Due: lint, tests, bpflint

Path conditions:
  lint: any of: *.go
  tests: any of: *.go
  bpflint: any of: *.{c,h} and ^internal/bpf/
